# ST IT Cloud - Data and Analytics Test LV.4

Esse teste deve avaliar alguns conceitos de big data e a qualidade técnica na manipulacão de dados, otimização de performance, trabalho com arquivos grandes e tratamento de qualidade.

## Passo a passo

- *Parte teórica:* responda as questões abaixo preenchendo as células em branco.
- *Parte prática:* disponibilizamos aqui 2 cases para, leia os enunciados dos problemas, desenvolver os programas, utilizando a **stack definida durante o processo seletivo**, para entregar os dados de acordo com os requisitos descritos abaixo.



**Faz parte dos critérios de avaliacão a pontualidade da entrega. Implemente até onde for possível dentro do prazo acordado.**

**Os dados de pessoas foram gerados de forma aleatória, utilizando a biblioteca FakerJS, FakerJS-BR e Faker**

LEMBRE-SE: A entrega deve conter TODOS os passos para o avaliador executar o programa (keep it simple).

**Questão 1** - Descreva de forma detalhada quais são as etapas na construção de um pipeline de dados, sem considerar ferramentas específicas, imagine que é seu primeiro contato com o cliente e você precisa entender a demanda dele e explicar quais são os passos que você terá que implementar para entregar a demanda.

1- Avaliar o Problema de Negocio 2- Avaliar as possiveis soluções e abordagens para resolver o problema  3- Escolher um caminho a seguir entre as abordagens 5- Desenhar a Solução 4- Definir quais Ferramentas serão utilizadas 5- Desenvolver um prototipo inicial 6 - Fazer as Validações internas e testes com o Usuario 7- Fazer Deploy em Produçao, é um processo que tem um inicio , meio e fim , ou do ponto de vista dos dados tem uma entrada , processamento e saida ou seja é a montagem de um fluxo operacional a ser seguido que tem um inicio e um fim em termos operacionais , e que pode ser aplicado a qualquer coisa , desde de a um gerenciamento de produção de uma fabrica que fabrica determinado produto , ou a uma Fabrica de Sottware que desenvolve aplicativos ou mesmo a uma arquitetura de fluxo operacional de dados, ou seja se trata de gerenciamento organizado de fluxo operacional de trabalho.

**Questão 2** - Defina com suas palavras um processamento em streaming e processamento em batch. Qual sua experiência com cada uma delas.

Processamento em Streaming é o processamento em tempo real ou seja no momento da produção da informação (como por exemplo a coleta de uma informação de venda online que acabou de acontecer), processamento em batch é um processamento através de lotes ou seja é enviado lotes de dados com tamanhos pre-definidos para processamento em intervalos de tempo pre definidos e pode ser muito tempo depois do fato ter ocorrido ou pode ser proximo ao tempo real.

**Questão 3** - Quais são as camadas de um Data Lake?

Ingestão , Armazenamento em Cache e Processamento

**Questão 4** - Quais as diferenças de um Data Lake e um DW?

Basicamente o Data Lake suporta dados não estruturados e o Data Warehouse não suporta , mas ambos suportam dados estruturados e agregados por segmentos e tambem umm Data Lake por ser projetado para Big Data suporta armazenamento e processamento distribuido com volumes de dados gigantescos e alta integridade das informações ou seja atende ao requisito de grandes volumes de dados com alta integridade e tambem ao requisito de processamento de dados em alta velocidade, pois trabalha com armazenamento e processamento distribuido , operando através de um cluster de computadores como se fosse uma unica maquina , coisa que um DW não comporta pois não foi projetado para isso.

**Questão 5** - O que é arquitetura Lambda e Kappa? Descreva com suas palavras.

Arquitetura Lambda Foi desenvlvida para contornar uma limitação do MapReduce que ao processar grandes volumes de dados demorava muito para dar um retorno do resultado. Isso foi resolvido pelo menos parcialmente ,através da arquiteura Kappa que dá dois caminhos para o resultado dos dados , o caminho quente que é mais rapido mas menos preciso e em uma janela pequena de tempo e o caminho frio que é mais lento e mais demorada e em uma janela de tempo maior mas é mais preciso em relação as informações, este é processado em  Batch ,  tudo é unificado na camada de serviço que possui as informações completas unificadas entre os processamento em streeaming de dados e o processamento em batch , os dados dos eventos são imutaveis.Dessa forma acaba atendendo a necessidade de ver mais rapidamente os dados. A Arquitetura Kappa foi desenvolvida para suprir uma deficiencia da arquitetura Lambda pois havia a necessidade de dois codigos diferentes para tratar a camada em batch e a camada em streming , ja a Arquitetura Kappa pensa em termos de unificação dos dados na origem e para isso usa o Log para fazer essa unificação onde não importa de onde venha o dado , se de streaming de dados , de um csv , xml de um banco de dados , todas essas fontes de dados são tratados como eventos no arquivo de log e é um log imutavel todo o dado que entra entra como um simbolo de + e os updates e reduções de dados entram com um simbolo de - , e assim o seu processamento se torna muito mais rapido, e dessa forma tudo é processado em tempo real e armazenado em um repositório de Longo Termo e possui uma camada de serviço que serve para oferecer os dados para as ferramentas de visualização ou de extração de informações que foram processadas.

**Questão 6** - O que é Data Quality para você e como você implementa isso nos seus processos?

É um processo de que visa validar os dados afim de manter a qualidade dos mesmos . Existe varias formas de fazer isso , como processos que validam os nomes das colunas, os tipos de dados e que comparam dados de periodos diferentes para detectar anomalizas ou falhas na produção da informação na origem dos dados

**Questão 7** - Em uma escala de 0 a 10, qual seria seu nível de experiência com PySpark?

6, Utilizei no curso de Python com Spark que fiz.

**Questão 8** - Em uma escala de 0 a 10, qual seria seu nível de experiência com SQL?

8 , Já trabalho com a linguagem SQL e banco SQL a muito tempo

**Questão 9** - Descreva suas expeciências com banco de dados SQL e NoSQL.

Ja trabalhei com o Banco SQL e atualmente Trabalho com Impala banco NoSQL usando a ferramenta Hue para rodar as consultas,tendo tambem o Hive como opção adicional.

**Questão 10** - Tem experiência com versionamento de código? Com quais ferramentas já trabalhou? Descreva.

Só conheço GitHub , utilizamos na empresa que trabalho , mas depende muito do projeto , tem projeto que usamos mais , outros usamos menos e outros não usamos.

**Questão 11** - Tem experiência em desenvolvimento em cloud? Se sim, especifique a(s) plataforma(s) que já trabalhou e suas principais implementações e conhecimentos em cada serviço.

Não tenho , a unica ferramenta que conheço que trabalha com este Viés é o Azure Machine Learning que aprendi ela no curso que fiz de Cientista de Dados na DSA.

**Questão 12** - Tem experiência com metodologia ágil? Qual?

Sim , A maioria dos projetos que trabalhei e que estou trabalhando na Cargill utiliza a metodologia Scrum , então temos o Scrum Master que conduz a reunião em conjunto com os lideres do projeto normalmente alguem de negócio e alguem da area de TI. São realizadas reuniões diarias denominadas Dailys e as Plenys a cada 15 dias  e mais uma reunião Geral no Final da Sprint e tambem pode ser marcada uma reunião após o termino da sprint de retrospectiva para analise de pontos de dificuldades e o que pode ser melhorado para a proxima Sprint, cada Sprint são atividades de trabalhos vinculado a um prazo , são determinada metas de trabalhos e delegado as atividades aos responsaveis que terão como meta concluir as atividades até o final da Sprint, o prazo da Sprint pode varias em relação ao tempo , normalmente 15 ou 30 dias, é o que eu conheço. Mas sei que a Metodologia Scrum é bem maleavel então esta estrutura pode variar um pouco de empresa para empresa.

# TESTE PRÁTICO

**Problema 1**: Você está recebendo o arquivo 'dados_cadastrais_fake.csv' que contem dados cadastrais de clientes, mas para que análises ou relatórios sejam feitos é necessário limpar e normalizar os dados. Além disso, existe uma coluna com o número de cpf e outra com cnpj, você precisará padronizar deixando apenas dígitos em formato string (sem caracteres especiais), implementar uma forma de verificar se tais documentos são válidos sendo que a informação deve se adicionada ao dataframe em outras duas novas colunas.

Após a normalização, gere reports que respondam as seguintes perguntas:
- Quantos clientes temos nessa base?
- Qual a média de idade dos clientes?
- Quantos clientes nessa base pertencem a cada estado?
- Quantos CPFs válidos e inválidos foram encontrados?
- Quantos CNPJs válidos e inválidos foram encontrados?

Ao final gere um arquivo no formato csv e um outro arquivo no formato parquet chamado (problema1_normalizado), eles serão destinados para pessoas distintas.

*EXTRA:* executar as mesmas validações no *1E8.csv.gz

In [1]:
# Instalando e Importando Bibliotecas e Modulos
# !pip install --user pandas -U
import pandas as pd
import numpy as np

import sys
import os.path

#Importa Modulo Adicional
import validacpfcnpj

#Desativa os avisos
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Cria funcao secundaria 

def roda_validacao_cpf_cnpj(a):
    
    cpf_cnpj = validacpfcnpj.ValidaCpfCnpj(str(a))

    
    return cpf_cnpj.valida()

In [3]:
#Testa Função com CPF - True
roda_validacao_cpf_cnpj(97566536800)

True

In [4]:
#Testa Função com CPF - False
roda_validacao_cpf_cnpj(97566536801)

False

In [5]:
#Testa Função com CNPJ - True
roda_validacao_cpf_cnpj("06589184909526")

True

In [6]:
#Testa Função com CNPJ - false
roda_validacao_cpf_cnpj("06589184909521")

False

In [7]:
# Usando o método read_csv
df =pd.read_table('dados_cadastrais_fake.csv', sep = ';',encoding="utf8")
df

,nomes,idade,cidade,estado,cpf,cnpj
0,Dennis Daniels,31,ACRELÂNDIA,AC,97566536800,06589184909526
1,Leah Becker,42,ÁGUA BRANCA,AL,425.263.807-07,25.673.336/2350-20
2,Sally Ford,18,ALVARÃES,AM,34647754103,26543101702989
3,Colleen Duncan,21,SERRA DO NAVIO,AP,252.531.560-03,19.062.080/5100-98
4,Jeff Stephenson,73,ABAÍRA,BA,49668886542,97794530015384
...,...,...,...,...,...,...
9995,Rebekah Mitchell PhD,55,ABAIARA,CE,744.822.622-34,16.740.076/9329-75
9996,Lisa Parrish Jr.,73,Brasília,DF,10683395190,32246978843482
9997,Michael Young MD,87,AFONSO CLÁUDIO,ES,538.223.638-04,86.601.303/7580-88
9998,Kevin Watson DDS,82,ABADIA DE GOIÁS,GO,11632512408,08651414023648
9999,Mr. Joseph Wilson MD,50,AÇAILÂNDIA,MA,192.134.492-08,08.908.871/5161-91

In [8]:
# Quantos clientes temos nessa base? R: 33 clientes distintos
max(df.nomes.value_counts())

33

In [9]:
# Qual a média de idade dos clientes? R: 53 anos 
df.idade.mean()

53.7831

### Quantos clientes nessa base pertencem a cada estado? 
   R: Segue a lista abaixo

In [10]:

df['estado'].replace({' ':''},inplace=True, regex=True)
df.replace({'MINASGERAI':'MG','MINASGERAIs':'MG','distritofederal':'DF','riodejaneiro':'RJ','saopaulo':'SP',
            'sãopaulo':'SP'},inplace=True)
df[['estado','nomes']].groupby(['estado']).nunique()

        nomes
estado
AC        365
AL        362
AM        360
AP        365
BA        364
CE        364
DF        361
ES        359
GO        365
MA        364
MG        360
MS        361
MT        365
PA        361
PB        366
PE        362
PI        363
PR        362
RJ        362
RN        359
RO        363
RR        362
RS        360
SC        361
SE        363
SP        363
TO        363

### Quantos CPFs válidos e inválidos foram encontrados?
   R: Foram encontrado 10 mil cpfs validos ou seja todos os cpfs da base csv fornecida são validos.Não foram encontrados nenhum cpf invalido.
 
    --> Segue detalhes do código abaixo

In [11]:
#df[['cpf_limpo']]= df[['cpf']].replace({'.':'','-':'','/':''},inplace=True, regex=True)

df['cpf'] = df['cpf'].str.replace('.', '')
df['cpf'] = df['cpf'].str.replace('-', '')

df['valida_cpf']=df['cpf'].apply(roda_validacao_cpf_cnpj)

df

,nomes,idade,cidade,estado,cpf,cnpj,valida_cpf
0,Dennis Daniels,31,ACRELÂNDIA,AC,97566536800,06589184909526,True
1,Leah Becker,42,ÁGUA BRANCA,AL,42526380707,25.673.336/2350-20,True
2,Sally Ford,18,ALVARÃES,AM,34647754103,26543101702989,True
3,Colleen Duncan,21,SERRA DO NAVIO,AP,25253156003,19.062.080/5100-98,True
4,Jeff Stephenson,73,ABAÍRA,BA,49668886542,97794530015384,True
...,...,...,...,...,...,...,...
9995,Rebekah Mitchell PhD,55,ABAIARA,CE,74482262234,16.740.076/9329-75,True
9996,Lisa Parrish Jr.,73,Brasília,DF,10683395190,32246978843482,True
9997,Michael Young MD,87,AFONSO CLÁUDIO,ES,53822363804,86.601.303/7580-88,True
9998,Kevin Watson DDS,82,ABADIA DE GOIÁS,GO,11632512408,08651414023648,True
9999,Mr. Joseph Wilson MD,50,AÇAILÂNDIA,MA,19213449208,08.908.871/5161-91,True

In [12]:
# Todos os 10 mil registros são True ou seja todos os Cnpjs são validos
df[['cpf','valida_cpf']].groupby(['valida_cpf']).nunique()

              cpf
valida_cpf
True        10000

In [13]:
# Os 10 mil registros possuem no campo CPF 11 carateres validos , ou seja nõo existe nenhum registro que foge ao padrão de 
# Numeros de carateres validos

dfx=df[df['cpf'].str.len() == 11]
max(dfx.valida_cpf.value_counts())

10000

### Quantos CNPJs válidos e inválidos foram encontrados?
    R: Todos os 10 mil registros de CNPJ  existentes no arquivo CSV analisado , são validos , não forma encontrados nenhum   cnpj invalido.

In [14]:
#df[['cpf_limpo']]= df[['cpf']].replace({'.':'','-':'','/':''},inplace=True, regex=True)

df['cnpj'] = df['cnpj'].str.replace('.', '')
df['cnpj'] = df['cnpj'].str.replace('/', '')
df['cnpj'] = df['cnpj'].str.replace('-', '')


#df[['valida_cpf']]=df[['cpf']].apply(roda_validacao_cpf_cnpj)
df['valida_cnpj']=df['cnpj'].apply(roda_validacao_cpf_cnpj)

df

,nomes,idade,cidade,estado,cpf,cnpj,valida_cpf,valida_cnpj
0,Dennis Daniels,31,ACRELÂNDIA,AC,97566536800,06589184909526,True,True
1,Leah Becker,42,ÁGUA BRANCA,AL,42526380707,25673336235020,True,True
2,Sally Ford,18,ALVARÃES,AM,34647754103,26543101702989,True,True
3,Colleen Duncan,21,SERRA DO NAVIO,AP,25253156003,19062080510098,True,True
4,Jeff Stephenson,73,ABAÍRA,BA,49668886542,97794530015384,True,True
...,...,...,...,...,...,...,...,...
9995,Rebekah Mitchell PhD,55,ABAIARA,CE,74482262234,16740076932975,True,True
9996,Lisa Parrish Jr.,73,Brasília,DF,10683395190,32246978843482,True,True
9997,Michael Young MD,87,AFONSO CLÁUDIO,ES,53822363804,86601303758088,True,True
9998,Kevin Watson DDS,82,ABADIA DE GOIÁS,GO,11632512408,08651414023648,True,True
9999,Mr. Joseph Wilson MD,50,AÇAILÂNDIA,MA,19213449208,08908871516191,True,True

In [15]:
df[['cnpj','valida_cnpj']].groupby(['valida_cnpj']).nunique()

              cnpj
valida_cnpj
True         10000

In [16]:
# Os 10 mil registros possuem no campo CNPJ 14 carateres validos , ou seja nõo existe nenhum registro que foge ao padrão de 
# Numeros de carateres validos
dfx=df[df['cnpj'].str.len() == 14]
max(dfx.valida_cnpj.value_counts())

10000

 ### Ao final gere um arquivo no formato csv e um outro arquivo no formato parquet chamado (problema1_normalizado), eles serão destinados para pessoas distintas
    --> Gerado Segue o código abaixo

In [17]:
# Exportando Para CSV
df.to_csv('problema1_normalizado.csv', index = False, sep=';', encoding='utf-8')

In [18]:
# Exportando Para Parquet
df.to_parquet("./problema1_normalizado.pq")

**Problema 2**: Você deverá implementar um programa, para ler, tratar e particionar os dados.

O arquivo fonte está disponível em `https://st-it-cloud-public.s3.amazonaws.com/people-v2_1E6.csv.gz`

### Data Quality

- Higienizar e homogenizar o formato da coluna `document`
- Detectar através da coluna `document` se o registro é de uma Pessoa Física ou Pessoa Jurídica, adicionando uma coluna com essa informação
- Higienizar e homogenizar o formato da coluna `birthDate`
- Existem duas colunas nesse dataset que em alguns registros estão trocadas. Quais são essas colunas? 
- Corrigir os dados com as colunas trocadas
- Além desses pontos, existem outras tratamentos para homogenizar esse dataset. Aplique todos que conseguir.

### Agregação dos dados

- Quais são as 5 PF que mais gastaram (`totalSpent`)? 
- Qual é o valor de gasto médio por estado (`state`)?
- Qual é o valor de gasto médio por `jobArea`?
- Qual é a PF que gastou menos (`totalSpent`)?
- Quantos nomes e documentos repetidos existem nesse dataset?
- Quantas linhas existem nesse dataset?

### Particionamento de dados tratados com as regras descritas em `DATA QUALITY`

- Particionar em arquivos PARQUET por estado (`state`)
- Particionar em arquivos CSV por ano/mes/dia de nascimento (`birthDate`)

## Data Quality

In [882]:
# Carregando DataSet
# Usando o método read_csv
df_pl =pd.read_table('people-v2_1E6.csv', sep = ';',encoding="utf8")
df_pl

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent
0,76684148787,Charlleny Braga,Oficial Criativo Dinâmico,Configuração,Estrategista,(62) 4216-9799,20-05-1972,Município de Iara,Goiás,913.80
1,85704855733,Newton Saraiva,Administrador Comunicações Internacional,Prestação de contas,Facilitador,Aplicações,10-Jun-1982,Município de Neide do Sul,RR,57.26
2,15664328373377,Dr. Sr. Solange Macedo,Designer Identidade Direto,Métricas,NaN,+55 (95) 7143-3307,05/16/1968,Município de Santo,RO,660.71
3,02.328.238/0877-86,Celina Carvalho Jr.,NaN,Qualidade,Ligação,+55 (58) 4136-5577,"19810417,",Reis do Norte,RO,542.51
4,30073687408740,Aurilo Martins,Especialista Paradigma Internacional,Programa,Executivo,(96) 47498-7325,04/07/1980,Município de Aminadab,RO,104.33
...,...,...,...,...,...,...,...,...,...,...
999995,20297054201,Aurilo Franco Neto,Agente Funcionalidade Investidor,Otimização,NaN,(54) 8742-5107,16-04-1976,Vila Attilio,RO,180.85
999996,76245248035484,Iata Martins,Técnico A infraestrutura Central,Rede,NaN,(72) 8066-0110,"Fri, May.22.1981",Grande Roverlei,Paraíba,89.75
999997,15787105200206,Erica Melo,Associado Operações Cliente,Garantia,NaN,(00) 5316-2453,23-01-1988,NaN,Maranhão,138.48
999998,12922681661,Jurema Carvalho Filho Neto,Agente Operações Legado,Programa,Engenheiro,+55 (44) 8691-2473,"Thu, Apr.11.1968",NaN,Rio Grande do Norte,827.67
999999,97145411318,Sr. Jair Martins,Produtor Comunicações Frente,Interações,Analista,(28) 0064-5483,11/27/1988,Nova Deise,Alagoas,803.81

### 1- Higienizar e homogenizar o formato da coluna document  
       R: Segue a resposta abaixo:

In [367]:
df_pl['document'].replace({'-':'','/':'',' ':''},regex=True, inplace=True)

df_pl['document'] = df_pl['document'].str.replace('.','')

df_pl[['document']]

              document
0          76684148787
1          85704855733
2       15664328373377
3       02328238087786
4       30073687408740
...                ...
999995     20297054201
999996  76245248035484
999997  15787105200206
999998     12922681661
999999     97145411318

[1000000 rows x 1 columns]

#### 2- Detectar através da coluna document se o registro é de uma Pessoa Física ou Pessoa Jurídica, adicionando uma coluna com essa informação 
     R: Segue a resposta abaixo:

In [368]:
# Resposta abaixo:

df_pl.loc[df_pl['document'].str.len() == 14,'tipo_doc']='PJ'
df_pl.loc[df_pl['document'].str.len() == 11,'tipo_doc']='PF'
df_pl[['document','tipo_doc']].head()

         document tipo_doc
0     76684148787       PF
1     85704855733       PF
2  15664328373377       PJ
3  02328238087786       PJ
4  30073687408740       PJ

In [369]:
# Verificando nulos em tipo_doc
df_pl[['tipo_doc']].isnull().sum()

tipo_doc    0
dtype: int64

### 3 - Higienizar e homogenizar o formato da coluna birthDate
     R: Segue a resposta abaixo:

In [496]:
# Resposta abaixo
df_pl['birthDate']

0        1972-05-20
1        1982-10-06
2        1968-05-16
3        1981-04-17
4        1980-07-04
            ...
999995   1976-04-16
999996   1981-05-22
999997   1988-01-23
999998   1968-11-04
999999   1988-11-27
Name: birthDate, Length: 1000000, dtype: datetime64[ns]

In [497]:
# Verificando o tipo de dados da coluna birthDate 
df_pl.dtypes

document               object
name                   object
job                    object
jobArea                object
jobType                object
phoneNumber            object
birthDate      datetime64[ns]
city                   object
state                  object
totalSpent            float64
tipo_doc               object
dtype: object

In [498]:
# Convertendo a coluna birthDate para o formato datetime , para poder aplicar a formatação na coluna
df_pl['birthDate'] = df_pl['birthDate'].astype('datetime64[ns]')

# Aplicando a formataçao na coluna 
df_pl['birthDate'] = df_pl['birthDate'].dt.strftime('%d/%m/%Y')

# Após a aplicaçao da formatação ele volta para texto , dessa forma é preciso converte-lo para formato data novamente 
df_pl['birthDate'] = df_pl['birthDate'].astype('datetime64[ns]')

# Visualizando o Resultado
df_pl['birthDate']

0        1972-05-20
1        1982-06-10
2        1968-05-16
3        1981-04-17
4        1980-04-07
            ...
999995   1976-04-16
999996   1981-05-22
999997   1988-01-23
999998   1968-04-11
999999   1988-11-27
Name: birthDate, Length: 1000000, dtype: datetime64[ns]

In [499]:
#Confirmando o tipo de dados
df_pl.dtypes

document               object
name                   object
job                    object
jobArea                object
jobType                object
phoneNumber            object
birthDate      datetime64[ns]
city                   object
state                  object
totalSpent            float64
tipo_doc               object
dtype: object

In [500]:
df_pl['birthDate'] = df_pl['birthDate'].astype('datetime64[ns]')
df_pl['birthDate']

0        1972-05-20
1        1982-06-10
2        1968-05-16
3        1981-04-17
4        1980-04-07
            ...
999995   1976-04-16
999996   1981-05-22
999997   1988-01-23
999998   1968-04-11
999999   1988-11-27
Name: birthDate, Length: 1000000, dtype: datetime64[ns]

### 4 - Existem duas colunas nesse dataset que em alguns registros estão trocadas. Quais são essas colunas?
     R: Identificado valores trocados entre as colunas  jobArea com  phoneNumber

In [540]:
# Visualizando todas as colunas
df_pl

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc,birthDate_txt
0,76684148787,Charlleny Braga,Oficial Criativo Dinâmico,Configuração,Estrategista,(62) 4216-9799,1972-05-20,Município de Iara,GO,913.80,PF,1972-05-20
1,85704855733,Newton Saraiva,Administrador Comunicações Internacional,Prestação de contas,Facilitador,Aplicações,1982-06-10,Município de Neide do Sul,RR,57.26,PF,1982-06-10
2,15664328373377,Solange Macedo,Designer Identidade Direto,Métricas,NaN,+55 (95) 7143-3307,1968-05-16,Município de Santo,RO,660.71,PJ,1968-05-16
3,02328238087786,Celina Carvalho Jr,NaN,Qualidade,Ligação,+55 (58) 4136-5577,1981-04-17,Reis do Norte,RO,542.51,PJ,1981-04-17
4,30073687408740,Aurilo Martins,Especialista Paradigma Internacional,Programa,Executivo,(96) 47498-7325,1980-04-07,Município de Aminadab,RO,104.33,PJ,1980-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...
999995,20297054201,Aurilo Franco Neto,Agente Funcionalidade Investidor,Otimização,NaN,(54) 8742-5107,1976-04-16,Vila Attilio,RO,180.85,PF,1976-04-16
999996,76245248035484,Iata Martins,Técnico A infraestrutura Central,Rede,NaN,(72) 8066-0110,1981-05-22,Grande Roverlei,PB,89.75,PJ,1981-05-22
999997,15787105200206,Erica Melo,Associado Operações Cliente,Garantia,NaN,(00) 5316-2453,1988-01-23,NaN,MA,138.48,PJ,1988-01-23
999998,12922681661,Jurema Carvalho Filho Neto,Agente Operações Legado,Programa,Engenheiro,+55 (44) 8691-2473,1968-04-11,NaN,RN,827.67,PF,1968-04-11
999999,97145411318,Jair Martins,Produtor Comunicações Frente,Interações,Analista,(28) 0064-5483,1988-11-27,Nova Deise,AL,803.81,PF,1988-11-27

In [541]:
# Visualizando valores distintos de jobType
df_pl[['jobType']].groupby(['jobType']).nunique().head(20)

Empty DataFrame
Columns: []
Index: [Administrador, Agente, Analista, Arquiteto, Assistente, Associado, Consultor, Coordenador, Desenvolvedor, Designer, Diretor, Engenheiro, Especialista, Estrategista, Executivo, Facilitador, Gerente, Ligação, Oficial, Orquestrador]

In [958]:
# Visualizando valores distintos de job
df_pl[['job']].groupby(['job']).nunique().head(10)

Empty DataFrame
Columns: []
Index: [Administrador A infraestrutura Central, Administrador A infraestrutura Chefe, Administrador A infraestrutura Cliente, Administrador A infraestrutura Corporativo, Administrador A infraestrutura Dinâmico, Administrador A infraestrutura Direto, Administrador A infraestrutura Diretor, Administrador A infraestrutura Distrito, Administrador A infraestrutura Frente, Administrador A infraestrutura Global]

In [957]:
# Visualizando valores distintos de jobArea
# Identificado valores trocados de jobArea com  phoneNumber
df_pl[['jobArea']].groupby(['jobArea']).nunique().head(10)

Empty DataFrame
Columns: []
Index: [A infraestrutura, Aplicações, Branding, Comunicações, Configuração, Contas, Criativo, Dados, Diretivas, Divisão]

In [548]:
df_pl_pn = df_pl[['phoneNumber']].groupby(['phoneNumber']).nunique()

In [607]:
df_pl_pn.sort_values(by=['phoneNumber'], ascending=False)

Empty DataFrame
Columns: []
Index: [Usabilidade, Táticas, Soluções, Segurança, Resposta, Rede, Qualidade, Programa, Prestação de contas, Pesquisa, Paradigma, Otimização, Operações, Métricas, Mobilidade, Mercados, Marketing, Marca, Intranet, Interações, Integração, Implementação, Identidade, Grupo, Garantia, Funcionalidade, Fatores, Divisão, Diretivas, Dados, Criativo, Contas, Configuração, Comunicações, Branding, Aplicações, A infraestrutura, +55 (99) 9989-1423, +55 (99) 9984-1428, +55 (99) 9979-1606, +55 (99) 9978-1263, +55 (99) 9971-1253, +55 (99) 9970-2458, +55 (99) 9967-9328, +55 (99) 9967-6784, +55 (99) 9964-3350, +55 (99) 9961-6766, +55 (99) 9960-7158, +55 (99) 9959-7349, +55 (99) 9956-1496, +55 (99) 9954-4575, +55 (99) 9946-9258, +55 (99) 9943-6280, +55 (99) 9941-9971, +55 (99) 9940-7280, +55 (99) 9937-2651, +55 (99) 9934-2340, +55 (99) 9930-4761, +55 (99) 9924-8947, +55 (99) 9920-1520, +55 (99) 9915-7830, +55 (99) 9914-4799, +55 (99) 9905-3706, +55 (99) 9903-8632, +55 (99) 9901-9466, +55 (99) 9900-1856, +55 (99) 9898-4980, +55 (99) 9891-8837, +55 (99) 9888-9154, +55 (99) 9886-3297, +55 (99) 9878-8598, +55 (99) 9876-4100, +55 (99) 9875-5904, +55 (99) 9875-4454, +55 (99) 9875-2666, +55 (99) 9874-9233, +55 (99) 9869-7087, +55 (99) 9860-5674, +55 (99) 9855-7608, +55 (99) 9855-0659, +55 (99) 9854-3680, +55 (99) 9849-9280, +55 (99) 9842-5578, +55 (99) 9842-0010, +55 (99) 9831-8414, +55 (99) 9827-4440, +55 (99) 9821-9270, +55 (99) 9802-0603, +55 (99) 9790-9458, +55 (99) 9790-8437, +55 (99) 9790-2197, +55 (99) 9783-4827, +55 (99) 9779-8985, +55 (99) 9778-2565, +55 (99) 9776-3087, +55 (99) 9776-1752, +55 (99) 9770-5291, +55 (99) 9767-1276, +55 (99) 9765-7949, +55 (99) 9765-6027, ...]

[950192 rows x 0 columns]

## 5 - Corrigir os dados com as colunas trocadas

In [651]:
# Visualizando valores distintos de jobArea
# Identificado valores trocados de jobArea com  phoneNumber
df_pl[['jobArea']].groupby(['jobArea']).nunique().head(5)

Empty DataFrame
Columns: []
Index: [(00) 00435-1738, (00) 01430-7785, (00) 01525-7613, (00) 01837-4277, (00) 01870-0192]

In [667]:
df_pl_pn2 = df_pl[['jobArea','jobArea_nb']].groupby(['jobArea']).nunique()
df_pl_pn2.sort_values(by=['jobArea','jobArea_nb'], ascending=False)

                 jobArea_nb
jobArea
Usabilidade               0
Táticas                   0
Soluções                  0
Segurança                 0
Resposta                  0
...                     ...
(00) 01870-0192           1
(00) 01837-4277           1
(00) 01525-7613           1
(00) 01430-7785           1
(00) 00435-1738           1

[50028 rows x 1 columns]

In [701]:
# Avaliando o comando
df_pl_tmp = df_pl[df_pl['jobArea'].str.contains('\d+', regex=True, na=True)].head(5)

In [702]:
#Avalindo o resultado
df_pl_tmp

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc,birthDate_txt,jobArea_txt,jobArea_nb,jobArea_mk
22,35171180369,Vanoil Xavier Filho Filho,Analista Comunicações Corporativo,+55 (47) 2953-9641,Analista,Operações,1979-09-25,Velha Fátima do Descoberto,PR,402.10,PF,1979-09-25,55,55,False
42,27511213308,Leila Melo,Ligação Resposta Frente,+55 (35) 3837-9102,Analista,(39) 7849-1494,1965-06-05,Deise do Sul,TO,521.93,PF,1965-06-05,55,55,False
44,18273161285,Sinezio Saraiva Filho,Produtor Fatores Diretor,(71) 49283-9575,Associado,(40) 6785-5749,1980-01-11,Angelino do Norte,RJ,195.40,PF,1980-01-11,71,71,False
49,91131730810,Rizia Carvalho,Assistente Integração Frente,+55 (45) 0085-5603,Oficial,(20) 6875-6735,1985-09-23,NaN,RR,717.84,PF,1985-09-23,55,55,False
63,27534718198,a. Emerson Neto,Técnico Aplicações Internacional,(16) 39224-3386,NaN,+55 (57) 4449-3385,1970-11-19,NaN,AC,615.94,PF,1970-11-19,16,16,False

In [883]:
# Cria coluna vazia jobAreaTmp , que recebera os ajustes 
df_pl['jobAreaTmp'] = np.nan

In [884]:
# Cria coluna vazia jobAreaTmp , que recebera os ajustes 
df_pl['phoneNumberTmp'] = np.nan

In [889]:
# Cria uma tabela com os valores que serao susbstituidos no Campo jobArea
df_pl_tmp = df_pl.loc[df_pl['jobArea'].str.contains('\d+', regex=True, na=True)]
# Contem comente os numeros de telefone em JobArea

In [891]:
# Adiciona uma nova coluna jobArea_mk como um marcador true para o campo jobArea_mk que estiver como numero.
df_pl_tmp.loc[df_pl_tmp['jobArea'].str.contains('\d+', regex=True, na=True),'jobArea_mk']= True
# Atribuo para df_pl_tmp  a coluna jobArea_mk com o marcador true

In [892]:
# Adiciona uma nova coluna phoneNumber_mk como um marcador true para o campo phoneNumber_mk que estiver como numero.
df_pl_tmp.loc[df_pl_tmp['phoneNumber'].str.contains('\d+', regex=True, na=True),'phoneNumber_mk']= True
# Atribuo para df_pl_tmp  a coluna phoneNumber_mk com o marcador true que identifica numeros em phoneNumber

In [895]:
# Remove do dataset de replace os campos onde phoneNumber é do tipo numero
df_pl_tmp = df_pl_tmp[df_pl_tmp['phoneNumber_mk'] != True]
# removo do datasete as informaçoes onde phoneNumber_mk for diferente de numero ou seja trago somente o que for texto
# Tenhp agora no dataset phoneNumber apenas com descricoes e JobArea apenas com numeros

In [896]:
df_pl_tmp

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,jobAreaTmp,phoneNumberTmp,jobArea_mk,phoneNumber_mk
22,351.711.803-69,Vanoil Xavier Filho Filho,Analista Comunicações Corporativo,+55 (47) 2953-9641,Analista,Operações,09/25/1979,Velha Fátima do Descoberto,Paraná,402.10,NaN,NaN,True,NaN
368,85311286240066,Arethusa Pereira Jr.,Técnico A infraestrutura Distrito,(24) 00844-8380,Supervisor,Métricas,"19880717,",Grande Neilton,AM,533.76,NaN,NaN,True,NaN
773,72387413776,Renata Batista Jr. Filho,Associado Prestação de contas Investidor,(51) 8225-7885,Produtor,Funcionalidade,12/21/1967,Moraes de Nossa Senhora,RO,772.42,NaN,NaN,True,NaN
869,542.170.015-17,Adenir Pereira,Planejador Grupo Frente,+55 (32) 1541-0032,Analista,Funcionalidade,"19741014,",Grande Arturo do Descoberto,Ceará,464.09,NaN,NaN,True,NaN
1063,981.031.810-30,Relton Santos,Designer Comunicações Nacional,(05) 2163-5818,Executivo,Otimização,11-Mar-1980,Nova Graziela do Norte,São Paulo,758.21,NaN,NaN,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996919,334.614.262-02,Dr. Alaide Jr.,NaN,(91) 8786-0629,Gerente,Intranet,"Sat, Jan.22.1966",NaN,PR,493.49,NaN,NaN,True,NaN
997148,661.467.104-90,Dr. Luciano Melo Neto,Designer Contas Regional,(62) 7523-4994,Administrador,Mercados,15-Jan-1986,NaN,MS,26.02,NaN,NaN,True,NaN
997319,52162486172,Srta. Joyce Costa,Arquiteto Dados Global,(21) 64124-7648,Coordenador,Grupo,08/25/1986,Grande Onivaldo de Nossa Senhora,Paraíba,14.85,NaN,NaN,True,NaN
997595,62625507802,Sra. Jaison Souza,Consultor Intranet Dinâmico,(56) 17382-5023,Estrategista,Programa,"19680517,",Vila Yuriê,Amazonas,834.43,NaN,NaN,True,NaN
997666,65732247289,Dr. Josuilton Melo,Supervisor Aplicações Interno,(27) 0367-6105,Diretor,Criativo,"Wed, Jan.25.1978",NaN,Rio Grande do Norte,222.06,NaN,NaN,True,NaN

In [901]:
# Adiciona uma nova coluna jobArea_mk como um marcador true para o campo jobArea que estiver como numero.
df_pl.loc[df_pl['jobArea'].str.contains('\d+', regex=True, na=True),'jobArea_mk']= True

In [902]:
# Adiciona uma nova coluna phoneNumber_mk como um marcador true para o campo phoneNumber_mk que estiver como numero.
df_pl.loc[df_pl['phoneNumber'].str.contains('\d+', regex=True, na=True),'phoneNumber_mk']= True

In [856]:
# Confere a novaa colunas
df_pl.head(5)

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc,filtro_name,filtro_name_tmp,filtro_name_p1,filtro_name2,jobAreaTmp,phoneNumberTmp,jobArea_mk,phoneNumber_mk
0,76684148787,Charlleny Braga,Oficial Criativo Dinâmico,Configuração,Estrategista,(62) 4216-9799,1972-05-20,Município de Iara,GO,913.80,PF,,Charlle,,Charlleny Braga,NaN,NaN,NaN,True
1,85704855733,Newton Saraiva,Administrador Comunicações Internacional,Prestação de contas,Facilitador,Aplicações,1982-10-06,Município de Neide do Sul,RR,57.26,PF,,Newton,,Newton Saraiva,NaN,NaN,NaN,NaN
2,15664328373377,Solange Macedo,Designer Identidade Direto,Métricas,NaN,+55 (95) 7143-3307,1968-05-16,Município de Santo,RO,660.71,PJ,Dr_ Sr_ Solange Macedo,,Dr_,Solange Macedo,NaN,NaN,NaN,True
3,02328238087786,Celina Carvalho Jr,NaN,Qualidade,Ligação,+55 (58) 4136-5577,1981-04-17,Reis do Norte,RO,542.51,PJ,,Celina,,Celina Carvalho Jr,NaN,NaN,NaN,True
4,30073687408740,Aurilo Martins,Especialista Paradigma Internacional,Programa,Executivo,(96) 47498-7325,1980-07-04,Município de Aminadab,RO,104.33,PJ,,Aurilo,,Aurilo Martins,NaN,NaN,NaN,True

In [937]:
# Atribui o valor da coluna phoneNumber do dataset df_pl_tmp na coluna jobArea do dataset df_pl .quando jobArea_mk = True
# Nessa operacao estou substituindo o valor de jobArea pelo valor de phoneNumber para quando a coluna JobArea contiver um numero
df_pl.loc[(df_pl['jobArea_mk'] == True),'jobArea'] = df_pl_tmp['phoneNumber']

In [938]:
# Atribui o valor da lista pre filtrada em jobArea com numeros e atribui a coluna phoneNumber
df_pl.loc[(df_pl['phoneNumber_mk'] != True),'phoneNumber'] = df_pl_tmp['jobArea']

In [924]:
# Quando jobArea_mk tras numero e phoneNumber_mk tras numero deve ser atribuido nulo em jobArea pois ja tem um numero telefone
# Valido na coluna phoneNumber
df_pl.loc[(df_pl['jobArea_mk'] == df_pl['phoneNumber_mk']),'jobArea'] = np.nan

In [925]:
# Para este Resultado deve ser atribuido nulo em JobArea pois em phoneNumber já tem um numero de telefone valido lá
# O que foi feito 
df_pl[df_pl['jobArea_mk'] == df_pl['phoneNumber_mk']]

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,jobAreaTmp,phoneNumberTmp,jobArea_mk,phoneNumber_mk
42,27511213308,Leila Melo,Ligação Resposta Frente,NaN,Analista,(39) 7849-1494,06-05-1965,Deise do Sul,Tocantins,521.93,NaN,NaN,True,True
44,182.731.612-85,Sinezio Saraiva Filho,Produtor Fatores Diretor,NaN,Associado,(40) 6785-5749,01/11/1980,Angelino do Norte,Rio de Janeiro,195.40,NaN,NaN,True,True
49,91131730810,Rizia Carvalho,Assistente Integração Frente,NaN,Oficial,(20) 6875-6735,Sep/23/1985,NaN,Roraima,717.84,NaN,NaN,True,True
63,27534718198,Srta. Emerson Neto,Técnico Aplicações Internacional,NaN,NaN,+55 (57) 4449-3385,19-11-1970,NaN,AC,615.94,NaN,NaN,True,True
70,39481762483,Dr. Valdirene Costa Neto,Executivo Marca Regional,NaN,Produtor,(08) 99447-5247,Mar/30/1972,Grande Jurema do Descoberto,Ceará,863.68,NaN,NaN,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999921,54123014188503,Sra. Natalino Melo,Designer Comunicações Global,NaN,Administrador,+55 (55) 0751-2140,23-05-1972,NaN,PR,615.98,NaN,NaN,True,True
999927,81504285778,Sra. Sra. Lêda Martins,Designer Integração Regional,NaN,Facilitador,+55 (96) 1017-1489,10/03/1988,NaN,Rondônia,803.42,NaN,NaN,True,True
999949,617.283.367-75,Laurenildo Carvalho Filho,Facilitador Métricas Cliente,NaN,Supervisor,(41) 79072-4273,07/02/1964,Messias do Norte,Rondônia,181.59,NaN,NaN,True,True
999983,870.643.287-55,Sr. Werner Santos,Planejador Rede Nacional,NaN,Gerente,(79) 2661-4712,20-Oct-1969,Costa do Sul,Distrito Federal,392.31,NaN,NaN,True,True
999989,46.563.086/3513-80,Maricy Braga,Desenvolvedor Interações Distrito,NaN,Orquestrador,(01) 7411-1296,30-Dec-1979,Barros de Nossa Senhora,SC,479.49,NaN,NaN,True,True

In [914]:
# Conferindo susbstituicao
# Efetuado as substituiçoes em JobAreaTMP somente o que foi numero em jobAreaTMP e o que nao foi numero em phoneNumberTmp
df_pl.loc[df_pl['jobArea_mk'] != True].head(5)

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,jobAreaTmp,phoneNumberTmp,jobArea_mk,phoneNumber_mk
0,76684148787,Charlleny Braga,Oficial Criativo Dinâmico,Configuração,Estrategista,(62) 4216-9799,20-05-1972,Município de Iara,Goiás,913.80,NaN,NaN,NaN,True
1,85704855733,Newton Saraiva,Administrador Comunicações Internacional,Prestação de contas,Facilitador,Aplicações,10-Jun-1982,Município de Neide do Sul,RR,57.26,NaN,NaN,NaN,NaN
2,15664328373377,Dr. Sr. Solange Macedo,Designer Identidade Direto,Métricas,NaN,+55 (95) 7143-3307,05/16/1968,Município de Santo,RO,660.71,NaN,NaN,NaN,True
3,02.328.238/0877-86,Celina Carvalho Jr.,NaN,Qualidade,Ligação,+55 (58) 4136-5577,"19810417,",Reis do Norte,RO,542.51,NaN,NaN,NaN,True
4,30073687408740,Aurilo Martins,Especialista Paradigma Internacional,Programa,Executivo,(96) 47498-7325,04/07/1980,Município de Aminadab,RO,104.33,NaN,NaN,NaN,True

In [939]:
# Verifica alteracoes onde jobArea tinha um numero 
df_pl[df_pl['jobArea_mk'] == True]

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,jobAreaTmp,phoneNumberTmp,jobArea_mk,phoneNumber_mk
22,351.711.803-69,Vanoil Xavier Filho Filho,Analista Comunicações Corporativo,Operações,Analista,+55 (47) 2953-9641,09/25/1979,Velha Fátima do Descoberto,Paraná,402.10,Operações,+55 (47) 2953-9641,True,NaN
42,27511213308,Leila Melo,Ligação Resposta Frente,NaN,Analista,(39) 7849-1494,06-05-1965,Deise do Sul,Tocantins,521.93,NaN,NaN,True,True
44,182.731.612-85,Sinezio Saraiva Filho,Produtor Fatores Diretor,NaN,Associado,(40) 6785-5749,01/11/1980,Angelino do Norte,Rio de Janeiro,195.40,NaN,NaN,True,True
49,91131730810,Rizia Carvalho,Assistente Integração Frente,NaN,Oficial,(20) 6875-6735,Sep/23/1985,NaN,Roraima,717.84,NaN,NaN,True,True
63,27534718198,Srta. Emerson Neto,Técnico Aplicações Internacional,NaN,NaN,+55 (57) 4449-3385,19-11-1970,NaN,AC,615.94,NaN,NaN,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999921,54123014188503,Sra. Natalino Melo,Designer Comunicações Global,NaN,Administrador,+55 (55) 0751-2140,23-05-1972,NaN,PR,615.98,NaN,NaN,True,True
999927,81504285778,Sra. Sra. Lêda Martins,Designer Integração Regional,NaN,Facilitador,+55 (96) 1017-1489,10/03/1988,NaN,Rondônia,803.42,NaN,NaN,True,True
999949,617.283.367-75,Laurenildo Carvalho Filho,Facilitador Métricas Cliente,NaN,Supervisor,(41) 79072-4273,07/02/1964,Messias do Norte,Rondônia,181.59,NaN,NaN,True,True
999983,870.643.287-55,Sr. Werner Santos,Planejador Rede Nacional,NaN,Gerente,(79) 2661-4712,20-Oct-1969,Costa do Sul,Distrito Federal,392.31,NaN,NaN,True,True
999989,46.563.086/3513-80,Maricy Braga,Desenvolvedor Interações Distrito,NaN,Orquestrador,(01) 7411-1296,30-Dec-1979,Barros de Nossa Senhora,SC,479.49,NaN,NaN,True,True

In [949]:
# Conferindo um documento no dataset backup nao modficado para ver a coerencia da informacao
df_pl_bk[df_pl_teste['document'] == '23896888455']

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc,filtro_name,filtro_name_tmp,filtro_name_p1,filtro_name2
29,23896888455,Vilmar Braga,Produtor Contas Direto,Comunicações,Estrategista,Segurança,1964-03-07,Moreira do Descoberto,PA,558.04,PF,,Vilmar,,Vilmar Braga

In [941]:
#df_pl.loc[df_pl['phoneNumber_mk'] == True].head(6)
df_pl[df_pl['phoneNumber_mk'] != True]

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,jobAreaTmp,phoneNumberTmp,jobArea_mk,phoneNumber_mk
1,85704855733,Newton Saraiva,Administrador Comunicações Internacional,Prestação de contas,Facilitador,NaN,10-Jun-1982,Município de Neide do Sul,RR,57.26,NaN,NaN,NaN,NaN
22,351.711.803-69,Vanoil Xavier Filho Filho,Analista Comunicações Corporativo,Operações,Analista,+55 (47) 2953-9641,09/25/1979,Velha Fátima do Descoberto,Paraná,402.10,Operações,+55 (47) 2953-9641,True,NaN
29,23896888455,Vilmar Braga,Produtor Contas Direto,Comunicações,Estrategista,NaN,07/03/1964,Moreira do Descoberto,Pará,558.04,NaN,NaN,NaN,NaN
75,72681165782460,Fernanda Pereira Neto,Analista Fatores Central,Dados,Diretor,NaN,"Mon, Aug.17.1970",Grande Lissette,DF,351.83,NaN,NaN,NaN,NaN
88,437.485.730-30,Eleonora,Ligação Diretivas Interno,Resposta,Diretor,NaN,May/05/1976,Enzo do Sul,Mato Grosso,93.86,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999877,63157341525662,Mitiko Martins Jr.,Estrategista Programa Frente,Branding,NaN,NaN,29-03-1973,NaN,Rondônia,846.74,NaN,NaN,NaN,NaN
999917,46323515806,Silmara Moraes,Diretor Divisão Líder,Marketing,NaN,NaN,08/18/1964,NaN,Rio Grande do Norte,681.67,NaN,NaN,NaN,NaN
999924,75736701050610,Juana Moraes Neto,Arquiteto Integração Regional,Aplicações,NaN,NaN,01-Dec-1976,Batista do Norte,Santa Catarina,133.28,NaN,NaN,NaN,NaN
999943,70875946640,Sokuchin,Gerente Garantia Produtos,Funcionalidade,Supervisor,NaN,"19690915,",Grande Telmo,PE,67.94,NaN,NaN,NaN,NaN
999947,75.804.866/2521-29,Sra. Hilca Franco,Gerente Contas Chefe,Operações,Estrategista,NaN,"19711104,",NaN,PA,37.44,NaN,NaN,NaN,NaN

In [953]:
df_pl_tmp_4 = df_pl[df_pl['jobArea'].str.contains('\d+', regex=True, na=True)]

In [954]:
df_pl_tmp_4

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,jobAreaTmp,phoneNumberTmp,jobArea_mk,phoneNumber_mk
42,27511213308,Leila Melo,Ligação Resposta Frente,NaN,Analista,(39) 7849-1494,06-05-1965,Deise do Sul,Tocantins,521.93,NaN,NaN,True,True
44,182.731.612-85,Sinezio Saraiva Filho,Produtor Fatores Diretor,NaN,Associado,(40) 6785-5749,01/11/1980,Angelino do Norte,Rio de Janeiro,195.40,NaN,NaN,True,True
49,91131730810,Rizia Carvalho,Assistente Integração Frente,NaN,Oficial,(20) 6875-6735,Sep/23/1985,NaN,Roraima,717.84,NaN,NaN,True,True
63,27534718198,Srta. Emerson Neto,Técnico Aplicações Internacional,NaN,NaN,+55 (57) 4449-3385,19-11-1970,NaN,AC,615.94,NaN,NaN,True,True
70,39481762483,Dr. Valdirene Costa Neto,Executivo Marca Regional,NaN,Produtor,(08) 99447-5247,Mar/30/1972,Grande Jurema do Descoberto,Ceará,863.68,NaN,NaN,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999921,54123014188503,Sra. Natalino Melo,Designer Comunicações Global,NaN,Administrador,+55 (55) 0751-2140,23-05-1972,NaN,PR,615.98,NaN,NaN,True,True
999927,81504285778,Sra. Sra. Lêda Martins,Designer Integração Regional,NaN,Facilitador,+55 (96) 1017-1489,10/03/1988,NaN,Rondônia,803.42,NaN,NaN,True,True
999949,617.283.367-75,Laurenildo Carvalho Filho,Facilitador Métricas Cliente,NaN,Supervisor,(41) 79072-4273,07/02/1964,Messias do Norte,Rondônia,181.59,NaN,NaN,True,True
999983,870.643.287-55,Sr. Werner Santos,Planejador Rede Nacional,NaN,Gerente,(79) 2661-4712,20-Oct-1969,Costa do Sul,Distrito Federal,392.31,NaN,NaN,True,True
999989,46.563.086/3513-80,Maricy Braga,Desenvolvedor Interações Distrito,NaN,Orquestrador,(01) 7411-1296,30-Dec-1979,Barros de Nossa Senhora,SC,479.49,NaN,NaN,True,True

### 6- Além desses pontos, existem outras tratamentos para homogenizar esse dataset. Aplique todos que conseguir.

###### 6.1 - Padronizando as Siglas dos Estados
       R: Segue a resposta abaixo:

In [377]:
# Verificando o padrao dos dados do Campo Estado
df_pl[['state']].groupby(['state']).nunique()

Empty DataFrame
Columns: []
Index: [AC, AL, AM, AP, Acre, Alagoas, Amapá, Amazonas, BA, Bahia, CE, Ceará, DF, Distrito Federal, ES, Espírito Santo, GO, Goiás, MA, MS, MT, Maranhão, Mato Grosso, Mato Grosso do Sul, Minas Gerais, PA, PB, PE, PI, PR, Paraná, Paraíba, Pará, Pernambuco, Piauí, RJ, RN, RO, RR, RS, Rio Grande do Norte, Rio Grande do Sul, Rio de Janeiro, Rondônia, Roraima, SC, SP, Santa Catarina, Sergipe, São Paulo, Tocantins]

In [378]:
df_pl['state'].replace({' ':''},inplace=True, regex=True)
df_pl.replace({'Alagoas':'AL','Amapá':'AP','Amazonas':'AM','Bahia':'BA','Ceará':'CE',
                'DistritoFederal':'DF', 'EspíritoSanto':'ES','Goiás':'GO', 'Maranhão':'MA','MatoGrosso':'MT',
                'MinasGerais':'MG', 'Paraná':'PR', 'Pará':'PA', 'Pernambuco':'PE', 'Piauí':'PI',
                'RioGrandedoNorte':'RN', 'RioGrandedoSul':'RS', 'Rio de Janeiro':'RJ', 'Rondônia':'RO', 'Roraima':'RR',
                'SantaCatarina':'SC', 'SãoPaulo':'SP','Tocantins':'TO','Acre':'AC','MatoGrossodoSul':'MS','Paraíba':'PB',
                 'Sergipe':'SE', 'RiodeJaneiro':'RJ'},inplace=True)
df_pl[['state']].groupby(['state']).nunique()

Empty DataFrame
Columns: []
Index: [AC, AL, AM, AP, BA, CE, DF, ES, GO, MA, MG, MS, MT, PA, PB, PE, PI, PR, RJ, RN, RO, RR, RS, SC, SE, SP, TO]

In [379]:
df_pl.head()

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc
0,76684148787,Charlleny Braga,Oficial Criativo Dinâmico,Configuração,Estrategista,(62) 4216-9799,1972-05-20,Município de Iara,GO,913.80,PF
1,85704855733,Newton Saraiva,Administrador Comunicações Internacional,Prestação de contas,Facilitador,Aplicações,1982-10-06,Município de Neide do Sul,RR,57.26,PF
2,15664328373377,Dr. Sr. Solange Macedo,Designer Identidade Direto,Métricas,NaN,+55 (95) 7143-3307,1968-05-16,Município de Santo,RO,660.71,PJ
3,02328238087786,Celina Carvalho Jr.,NaN,Qualidade,Ligação,+55 (58) 4136-5577,1981-04-17,Reis do Norte,RO,542.51,PJ
4,30073687408740,Aurilo Martins,Especialista Paradigma Internacional,Programa,Executivo,(96) 47498-7325,1980-07-04,Município de Aminadab,RO,104.33,PJ

#### 6.2 - Padronizando o campo name
       R: Segue a resposta abaixo:

In [380]:
# Verificando o padrao dos dados do Campo name
df_pl[['name']].groupby(['name']).nunique()

Empty DataFrame
Columns: []
Index: [Abdias, Abdias Albuquerque, Abdias Albuquerque Filho, Abdias Barros, Abdias Barros Filho, Abdias Barros Jr., Abdias Batista, Abdias Batista Filho, Abdias Batista Jr., Abdias Braga, Abdias Braga Jr., Abdias Braga Neto, Abdias Carvalho, Abdias Carvalho Filho, Abdias Carvalho Neto, Abdias Carvalho Neto Neto, Abdias Costa, Abdias Costa Filho, Abdias Costa Neto, Abdias Filho, Abdias Franco, Abdias Franco Neto, Abdias Jr., Abdias Macedo, Abdias Macedo Jr., Abdias Martins, Abdias Martins Jr., Abdias Melo, Abdias Melo Filho, Abdias Melo Jr., Abdias Melo Neto Neto, Abdias Moraes, Abdias Moreira, Abdias Moreira Neto, Abdias Neto, Abdias Nogueira, Abdias Nogueira Neto, Abdias Oliveira, Abdias Oliveira Filho, Abdias Oliveira Filho Neto, Abdias Oliveira Jr., Abdias Pereira, Abdias Reis, Abdias Reis Neto, Abdias Santos, Abdias Santos Jr., Abdias Santos Neto, Abdias Saraiva, Abdias Saraiva Filho, Abdias Silva, Abdias Silva Filho Jr., Abdias Silva Jr., Abdias Souza, Abdias Xavier, Abel, Abel Albuquerque, Abel Albuquerque Jr., Abel Albuquerque Neto, Abel Barros, Abel Barros Filho, Abel Barros Neto, Abel Batista, Abel Batista Filho, Abel Batista Jr., Abel Braga, Abel Braga Filho, Abel Carvalho, Abel Carvalho Filho, Abel Carvalho Neto, Abel Costa, Abel Costa Jr., Abel Costa Neto, Abel Filho, Abel Franco, Abel Franco Filho, Abel Franco Jr., Abel Franco Neto, Abel Jr., Abel Macedo, Abel Macedo Filho, Abel Macedo Jr., Abel Macedo Neto, Abel Martins, Abel Melo, Abel Melo Filho, Abel Melo Jr., Abel Moraes, Abel Moraes Jr., Abel Moreira, Abel Moreira Filho, Abel Neto, Abel Nogueira, Abel Nogueira Jr., Abel Oliveira, Abel Oliveira Filho, Abel Oliveira Neto, Abel Pereira, Abel Pereira Filho, Abel Pereira Neto Neto, Abel Reis, ...]

[455014 rows x 0 columns]

In [381]:
df_pl_title=pd.DataFrame(df_pl['name'].str[:3])
df_pl_title['name'].head(10)

0    Cha
1    New
2    Dr.
3    Cel
4    Aur
5    Sr.
6    Sr.
7    Mar
8    Ben
9    Iza
Name: name, dtype: object

In [382]:
df_pl_title.describe()

           name
count   1000000
unique      956
top         Sr.
freq      91743

In [383]:
df_pl.dtypes

document               object
name                   object
job                    object
jobArea                object
jobType                object
phoneNumber            object
birthDate      datetime64[ns]
city                   object
state                  object
totalSpent            float64
tipo_doc               object
dtype: object

In [384]:
# Testando Pesquisa no Campo Name com A , funciona
df_pl[df_pl['name'].str.contains('A', na=False)].head(3)

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc
4,30073687408740,Aurilo Martins,Especialista Paradigma Internacional,Programa,Executivo,(96) 47498-7325,1980-07-04,Município de Aminadab,RO,104.33,PJ
5,77145788233,Sr. Sávio Albuquerque,Estrategista Branding Interno,Resposta,Planejador,+55 (06) 0512-5291,1983-06-18,Município de Balmes,SE,769.26,PF
14,23487182365693,Edith Albuquerque Neto,Diretor Interações Líder,Garantia,Estrategista,+55 (67) 9793-9050,1986-02-12,NaN,PA,286.44,PJ

In [385]:
# Testando Pesquisa no Campo Name com "." ,Tem algum Bug e não esta funcionando
df_pl[df_pl['name'].str.contains('.', na=False)].head(5)

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc
0,76684148787,Charlleny Braga,Oficial Criativo Dinâmico,Configuração,Estrategista,(62) 4216-9799,1972-05-20,Município de Iara,GO,913.80,PF
1,85704855733,Newton Saraiva,Administrador Comunicações Internacional,Prestação de contas,Facilitador,Aplicações,1982-10-06,Município de Neide do Sul,RR,57.26,PF
2,15664328373377,Dr. Sr. Solange Macedo,Designer Identidade Direto,Métricas,NaN,+55 (95) 7143-3307,1968-05-16,Município de Santo,RO,660.71,PJ
3,02328238087786,Celina Carvalho Jr.,NaN,Qualidade,Ligação,+55 (58) 4136-5577,1981-04-17,Reis do Norte,RO,542.51,PJ
4,30073687408740,Aurilo Martins,Especialista Paradigma Internacional,Programa,Executivo,(96) 47498-7325,1980-07-04,Município de Aminadab,RO,104.33,PJ

In [386]:
# Vou substituir tudo ponto por traço , depois trazer somente os 3 primeiros caracteres e depois susbtituir por branco
# e depois aplicar um ajuste somente nas colunas com branco
# Objetivo montar uma lista com os termos principais que contenha ponto e que serao removidos do campo name que equivale a 
# um titulo e por isso nao tem que estar no nome de uma pessoa
df_pl['filtro_name'] =df_pl['name'].str.replace('.', '_')
df_pl.head(5)

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc,filtro_name
0,76684148787,Charlleny Braga,Oficial Criativo Dinâmico,Configuração,Estrategista,(62) 4216-9799,1972-05-20,Município de Iara,GO,913.80,PF,Charlleny Braga
1,85704855733,Newton Saraiva,Administrador Comunicações Internacional,Prestação de contas,Facilitador,Aplicações,1982-10-06,Município de Neide do Sul,RR,57.26,PF,Newton Saraiva
2,15664328373377,Dr. Sr. Solange Macedo,Designer Identidade Direto,Métricas,NaN,+55 (95) 7143-3307,1968-05-16,Município de Santo,RO,660.71,PJ,Dr_ Sr_ Solange Macedo
3,02328238087786,Celina Carvalho Jr.,NaN,Qualidade,Ligação,+55 (58) 4136-5577,1981-04-17,Reis do Norte,RO,542.51,PJ,Celina Carvalho Jr_
4,30073687408740,Aurilo Martins,Especialista Paradigma Internacional,Programa,Executivo,(96) 47498-7325,1980-07-04,Município de Aminadab,RO,104.33,PJ,Aurilo Martins

In [387]:
df_pl[['filtro_name']].groupby('filtro_name').nunique().head(5)

Empty DataFrame
Columns: []
Index: [Abdias, Abdias Albuquerque, Abdias Albuquerque Filho, Abdias Barros, Abdias Barros Filho]

In [388]:
#Fazendo a busca pelo novo campo filtro_name pelo caracater underline, esta trazendo as informações corretamente
df_pl[df_pl['filtro_name'].str.contains('_', regex=True, na=True)].head(5)

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc,filtro_name
2,15664328373377,Dr. Sr. Solange Macedo,Designer Identidade Direto,Métricas,NaN,+55 (95) 7143-3307,1968-05-16,Município de Santo,RO,660.71,PJ,Dr_ Sr_ Solange Macedo
3,02328238087786,Celina Carvalho Jr.,NaN,Qualidade,Ligação,+55 (58) 4136-5577,1981-04-17,Reis do Norte,RO,542.51,PJ,Celina Carvalho Jr_
5,77145788233,Sr. Sávio Albuquerque,Estrategista Branding Interno,Resposta,Planejador,+55 (06) 0512-5291,1983-06-18,Município de Balmes,SE,769.26,PF,Sr_ Sávio Albuquerque
6,75752983045,Sr. Everaldo Saraiva Filho,Técnico Táticas Produtos,Marketing,Diretor,(33) 78784-4156,1980-10-27,Nova Olga do Sul,MG,575.10,PF,Sr_ Everaldo Saraiva Filho
11,58412777743,Sra. Lhirton Batista Jr.,Produtor Intranet Nacional,Configuração,Arquiteto,(33) 70042-1213,1985-12-05,Batista do Sul,PA,300.22,PF,Sra_ Lhirton Batista Jr_

In [389]:
# Fazendo a busca pelo campo JR
# O campo Jr no final do processo esta me dando problemas por causa do ponto , por isso estoU tratando ele previamente
df_pl[df_pl['filtro_name'].str.contains('Jr', regex=True, na=True)].head(5)

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc,filtro_name
3,02328238087786,Celina Carvalho Jr.,NaN,Qualidade,Ligação,+55 (58) 4136-5577,1981-04-17,Reis do Norte,RO,542.51,PJ,Celina Carvalho Jr_
11,58412777743,Sra. Lhirton Batista Jr.,Produtor Intranet Nacional,Configuração,Arquiteto,(33) 70042-1213,1985-12-05,Batista do Sul,PA,300.22,PF,Sra_ Lhirton Batista Jr_
13,23285262680,Dov Carvalho Jr.,Administrador Pesquisa Legado,Resposta,Analista,(65) 37328-4182,1989-02-08,Nova Elisabete,TO,795.89,PF,Dov Carvalho Jr_
25,35288067880,Vivaldo Pereira Jr.,Planejador Intranet Corporativo,Operações,Engenheiro,+55 (58) 8631-1622,1966-06-11,Reis do Descoberto,CE,441.53,PF,Vivaldo Pereira Jr_
47,77982195016,Srta. Cerilo Oliveira Jr.,Estrategista Marca Central,Mercados,Arquiteto,(89) 37080-3645,1987-09-06,Vila Yanina do Sul,CE,40.70,PF,Srta_ Cerilo Oliveira Jr_

In [390]:
# Substitui Jr_ Por Jr. na coluna filtro_name
# Ja havia feito alguns testes e essa palavra Jr estava atrapalhando o resultado da consulta , então tive que 
# trata-la previamente

df_pl['filtro_name'].replace({'Jr.':'Jr'},inplace=True, regex=True)
df_pl[['filtro_name']].groupby('filtro_name').nunique().head(10)

Empty DataFrame
Columns: []
Index: [Abdias, Abdias Albuquerque, Abdias Albuquerque Filho, Abdias Barros, Abdias Barros Filho, Abdias Barros Jr, Abdias Batista, Abdias Batista Filho, Abdias Batista Jr, Abdias Braga]

In [391]:
#Fazendo a busca pelo campo JR no campo filtro_name , para confirmar o ajuste feito
df_pl[df_pl['filtro_name'].str.contains('Jr', regex=True, na=True)].head(5)

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc,filtro_name
3,02328238087786,Celina Carvalho Jr.,NaN,Qualidade,Ligação,+55 (58) 4136-5577,1981-04-17,Reis do Norte,RO,542.51,PJ,Celina Carvalho Jr
11,58412777743,Sra. Lhirton Batista Jr.,Produtor Intranet Nacional,Configuração,Arquiteto,(33) 70042-1213,1985-12-05,Batista do Sul,PA,300.22,PF,Sra_ Lhirton Batista Jr
13,23285262680,Dov Carvalho Jr.,Administrador Pesquisa Legado,Resposta,Analista,(65) 37328-4182,1989-02-08,Nova Elisabete,TO,795.89,PF,Dov Carvalho Jr
25,35288067880,Vivaldo Pereira Jr.,Planejador Intranet Corporativo,Operações,Engenheiro,+55 (58) 8631-1622,1966-06-11,Reis do Descoberto,CE,441.53,PF,Vivaldo Pereira Jr
47,77982195016,Srta. Cerilo Oliveira Jr.,Estrategista Marca Central,Mercados,Arquiteto,(89) 37080-3645,1987-09-06,Vila Yanina do Sul,CE,40.70,PF,Srta_ Cerilo Oliveira Jr

In [392]:
# Aplicando nova transformação na coluna filtro_name
# Atualizando a tabela 'filtro_name' com apenas os 7 primeiros caracteres
# Montando uma coluna marcador para determinar o que será marcado como item a ser susbstituido ou nao
df_pl['filtro_name_tmp']=pd.DataFrame(df_pl['filtro_name'].str[:7])
df_pl[['filtro_name_tmp']].head(10)

  filtro_name_tmp
0         Charlle
1         Newton
2         Dr_ Sr_
3         Celina
4         Aurilo
5         Sr_ Sáv
6         Sr_ Eve
7         Martina
8         Benedik
9         Izamar

In [393]:
# Atribuindo branco para valores invalidos em 
# O que me interessa é o que tem underline o resto já esta correto entao sera reduzido a branco e aparecera como 
# uma unica linha no meus distinct
df_pl.loc[df_pl['filtro_name_tmp'].str.contains('_', regex=True, na=True),'filtro_name_tmp']=''

df_pl[['filtro_name_tmp']].head(5)

  filtro_name_tmp
0         Charlle
1         Newton
2
3         Celina
4         Aurilo

In [394]:
df_pl[['filtro_name','filtro_name_tmp']].head(5)

              filtro_name filtro_name_tmp
0         Charlleny Braga         Charlle
1          Newton Saraiva         Newton
2  Dr_ Sr_ Solange Macedo
3      Celina Carvalho Jr         Celina
4          Aurilo Martins         Aurilo

In [395]:
# Quando a coluna filtro_name_tmp for diferente de branco , atribui branco ao campo filtro_name
# Marcando correto,  as linhas relevantes em filtro_name estao marcadas como branco em filtro_name_tmp
df_pl.loc[(df_pl['filtro_name_tmp']!=""),'filtro_name']=''
df_pl[['filtro_name','filtro_name_tmp']].head(20)

                   filtro_name filtro_name_tmp
0                                      Charlle
1                                      Newton
2       Dr_ Sr_ Solange Macedo
3                                      Celina
4                                      Aurilo
5        Sr_ Sávio Albuquerque
6   Sr_ Everaldo Saraiva Filho
7                                      Martina
8                                      Benedik
9                                      Izamar
10                                     Débora
11     Sra_ Lhirton Batista Jr
12         Sra_ Rosildo Santos
13                                     Dov Car
14                                     Edith A
15                                     Deilson
16                                     Viviana
17                                     Dione O
18                                     Kauy Fi
19          Dr_ Valdete Franco

In [396]:
# Filtra os 4 primeiros caracteres do campo filtro_name e atribui ao campo filtro_name_p1
# Montando primeira lista com todos os valores relavantes em uma nova coluna filtro_name_p1
df_pl[['filtro_name_p1']]=pd.DataFrame(df_pl['filtro_name'].str[:4])
df_pl[['filtro_name','filtro_name_p1']]

                   filtro_name filtro_name_p1
0
1
2       Dr_ Sr_ Solange Macedo           Dr_
3
4
...                        ...            ...
999995
999996
999997
999998
999999        Sr_ Jair Martins           Sr_

[1000000 rows x 2 columns]

In [397]:
#Verifica valores unicos
# Já tenho minha primeira lista de valores a serem susbstituidos no campo name
df_pl[['filtro_name_p1']].groupby(['filtro_name_p1']).nunique()

Empty DataFrame
Columns: []
Index: [, Dr_, Dr_ , Sr_ , Sra_, Srta]

In [398]:
#Verifica todos os nulos do dataset
# Estou vendo se tem valores nulos na coluna name
df_pl.isnull().sum()

document                0
name                    0
job                 99915
jobArea                 0
jobType            100189
phoneNumber             0
birthDate               0
city               200001
state                   0
totalSpent           9775
tipo_doc                0
filtro_name             0
filtro_name_tmp         0
filtro_name_p1          0
dtype: int64

In [399]:
#Fazendo a busca pelo campo name valores branco
df_pl[(   df_pl['name']  =='')]

Empty DataFrame
Columns: [document, name, job, jobArea, jobType, phoneNumber, birthDate, city, state, totalSpent, tipo_doc, filtro_name, filtro_name_tmp, filtro_name_p1]
Index: []

In [400]:
# Confirmando valores entre name e filtro name para posterior verificacao apos aplicacao de tranformacao na coluna name
df_pl[df_pl['filtro_name'].str.contains('Dr.', regex=True, na=True)].head(5)

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc,filtro_name,filtro_name_tmp,filtro_name_p1
2,15664328373377,Dr. Sr. Solange Macedo,Designer Identidade Direto,Métricas,NaN,+55 (95) 7143-3307,1968-05-16,Município de Santo,RO,660.71,PJ,Dr_ Sr_ Solange Macedo,,Dr_
19,13243665857133,Dr. Valdete Franco,NaN,Integração,NaN,+55 (21) 6949-7240,1972-03-21,Grande Jeferson do Sul,TO,773.84,PJ,Dr_ Valdete Franco,,Dr_
23,40367582414,Dr. Márcia Barros,Consultor Integração Diretor,Configuração,Arquiteto,+55 (00) 0960-8178,1966-06-03,Município de Adda,AM,392.21,PF,Dr_ Márcia Barros,,Dr_
46,28673547067,Dr. Laura Nogueira Filho,Ligação Operações Global,Configuração,Coordenador,+55 (68) 1398-9342,1977-10-23,Costa de Nossa Senhora,ES,275.79,PF,Dr_ Laura Nogueira Filho,,Dr_
52,71743405804,Dr. Tânia,Supervisor A infraestrutura Direto,Integração,Designer,(75) 6119-5294,1983-12-09,Velha Ivonete,PR,195.52,PF,Dr_ Tânia,,Dr_

In [401]:
#tratamento na coluna original parte 01
df_pl['name'].replace({'Jr.':'Jr','Dr.':'','Sr.':'','Sra.':'','Srta.':''},regex=True, inplace=True)

In [402]:
#Fazendo a busca pelo campo Sr no campo filtro_name e comparando com name , os valores estao coerentes 
df_pl[df_pl['filtro_name'].str.contains('Dr', regex=True, na=True)].head(5)

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc,filtro_name,filtro_name_tmp,filtro_name_p1
2,15664328373377,Solange Macedo,Designer Identidade Direto,Métricas,NaN,+55 (95) 7143-3307,1968-05-16,Município de Santo,RO,660.71,PJ,Dr_ Sr_ Solange Macedo,,Dr_
19,13243665857133,Valdete Franco,NaN,Integração,NaN,+55 (21) 6949-7240,1972-03-21,Grande Jeferson do Sul,TO,773.84,PJ,Dr_ Valdete Franco,,Dr_
23,40367582414,Márcia Barros,Consultor Integração Diretor,Configuração,Arquiteto,+55 (00) 0960-8178,1966-06-03,Município de Adda,AM,392.21,PF,Dr_ Márcia Barros,,Dr_
46,28673547067,Laura Nogueira Filho,Ligação Operações Global,Configuração,Coordenador,+55 (68) 1398-9342,1977-10-23,Costa de Nossa Senhora,ES,275.79,PF,Dr_ Laura Nogueira Filho,,Dr_
52,71743405804,Tânia,Supervisor A infraestrutura Direto,Integração,Designer,(75) 6119-5294,1983-12-09,Velha Ivonete,PR,195.52,PF,Dr_ Tânia,,Dr_

In [403]:
# Vendo se ficou alguma informação faltante
df_pl['filtro_name2'] =df_pl['name'].str.replace('.', '_')
df_pl['filtro_name2'].head()

0       Charlleny Braga
1        Newton Saraiva
2        Solange Macedo
3    Celina Carvalho Jr
4        Aurilo Martins
Name: filtro_name2, dtype: object

In [404]:
# Fazendo a busca pelo campo _ no campo filtro_name2 , para confirmar o ajuste feito
# Detectei que tem alguns nomes que o primeiro caracter esta vindo com ponto
df_pl[df_pl['filtro_name2'].str.contains('_', regex=True, na=True)].head(5)

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc,filtro_name,filtro_name_tmp,filtro_name_p1,filtro_name2
11,58412777743,. Lhirton Batista Jr,Produtor Intranet Nacional,Configuração,Arquiteto,(33) 70042-1213,1985-12-05,Batista do Sul,PA,300.22,PF,Sra_ Lhirton Batista Jr,,Sra_,_ Lhirton Batista Jr
12,43256426510740,. Rosildo Santos,Desenvolvedor Funcionalidade Corporativo,Integração,Engenheiro,(12) 3014-4120,1980-12-14,NaN,PA,658.82,PJ,Sra_ Rosildo Santos,,Sra_,_ Rosildo Santos
34,77234489100,a. Walquiria Oliveira,Diretor Identidade Internacional,Paradigma,Especialista,(72) 60926-7940,1966-02-10,Nova Lidiana do Descoberto,AC,487.09,PF,Srta_ Walquiria Oliveira,,Srta,a_ Walquiria Oliveira
41,02741370621,a. a. Valeria Moraes Neto,Ligação Aplicações Investidor,Pesquisa,Orquestrador,(87) 1655-1370,1989-02-14,Velha Christianne,DF,1.25,PF,Srta_ Srta_ Valeria Moraes Neto,,Srta,a_ a_ Valeria Moraes Neto
47,77982195016,a. Cerilo Oliveira Jr,Estrategista Marca Central,Mercados,Arquiteto,(89) 37080-3645,1987-09-06,Vila Yanina do Sul,CE,40.70,PF,Srta_ Cerilo Oliveira Jr,,Srta,a_ Cerilo Oliveira Jr

In [405]:
# Fazendo copia do dataset
df_pl_bk = df_pl.copy()

In [749]:
# Recuperando a copia do dataset
# df_pl = df_pl_bk.copy()

In [407]:
# Remocao do ponto inicial na coluna name
df_pl['name']=df_pl.name.str.replace('^.\s','')

In [408]:
# Confirmando a remocao do ponto inicial 
df_pl[df_pl['filtro_name2'].str.contains('_', regex=True, na=True)].head(5)

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc,filtro_name,filtro_name_tmp,filtro_name_p1,filtro_name2
11,58412777743,Lhirton Batista Jr,Produtor Intranet Nacional,Configuração,Arquiteto,(33) 70042-1213,1985-12-05,Batista do Sul,PA,300.22,PF,Sra_ Lhirton Batista Jr,,Sra_,_ Lhirton Batista Jr
12,43256426510740,Rosildo Santos,Desenvolvedor Funcionalidade Corporativo,Integração,Engenheiro,(12) 3014-4120,1980-12-14,NaN,PA,658.82,PJ,Sra_ Rosildo Santos,,Sra_,_ Rosildo Santos
34,77234489100,a. Walquiria Oliveira,Diretor Identidade Internacional,Paradigma,Especialista,(72) 60926-7940,1966-02-10,Nova Lidiana do Descoberto,AC,487.09,PF,Srta_ Walquiria Oliveira,,Srta,a_ Walquiria Oliveira
41,02741370621,a. a. Valeria Moraes Neto,Ligação Aplicações Investidor,Pesquisa,Orquestrador,(87) 1655-1370,1989-02-14,Velha Christianne,DF,1.25,PF,Srta_ Srta_ Valeria Moraes Neto,,Srta,a_ a_ Valeria Moraes Neto
47,77982195016,a. Cerilo Oliveira Jr,Estrategista Marca Central,Mercados,Arquiteto,(89) 37080-3645,1987-09-06,Vila Yanina do Sul,CE,40.70,PF,Srta_ Cerilo Oliveira Jr,,Srta,a_ Cerilo Oliveira Jr

In [409]:
# Confere nulos
df_pl.isnull().sum()

document                0
name                    0
job                 99915
jobArea                 0
jobType            100189
phoneNumber             0
birthDate               0
city               200001
state                   0
totalSpent           9775
tipo_doc                0
filtro_name             0
filtro_name_tmp         0
filtro_name_p1          0
filtro_name2            0
dtype: int64

In [410]:
# Atribuindo nulos para os valores em branco do campo name para facilitar sua identificação e limpeza.
# tratamento na coluna original 
df_pl['name'].replace({'':np.nan},regex=True, inplace=True)

In [411]:
# Agora temos 19 valores nulos no campo name é um valor insignificante perto do valor total 
# É uma decisão de negocio remover ou não , depende da analise que esta sendo feita.Mas para o caso nao sera 
# removido pois tem cpf valido associado e tenho que fazer depois agrupamentos por este cpf
df_pl.isnull().sum()

document                0
name                   19
job                 99915
jobArea                 0
jobType            100189
phoneNumber             0
birthDate               0
city               200001
state                   0
totalSpent           9775
tipo_doc                0
filtro_name             0
filtro_name_tmp         0
filtro_name_p1          0
filtro_name2            0
dtype: int64

In [414]:
# Reavaliando campo name para ver se ficou algumnome sem tratar
df_pl['filtro_name'] =df_pl['name'].str.replace('.', '_')
df_pl[df_pl['filtro_name'].str.contains('_', regex=True, na=True)].head(5)
df_pl['filtro_name'].replace({'Jr.':'Jr'},inplace=True, regex=True)
df_pl['filtro_name_tmp']=pd.DataFrame(df_pl['filtro_name'].str[:3])
df_pl.loc[df_pl['filtro_name_tmp'].str.contains('_', regex=True, na=True),'filtro_name_tmp']=''
df_pl.loc[(df_pl['filtro_name_tmp']!=""),'filtro_name']=''
df_pl[['filtro_name_p1']]=pd.DataFrame(df_pl['filtro_name'].str[:4])
df_pl['filtro_name_p1']=df_pl.filtro_name_p1.str.replace('^_\s','')

In [415]:
# Nao retornou nada fora do padrao 
df_pl[['filtro_name_p1']].groupby(['filtro_name_p1']).nunique().head()

Empty DataFrame
Columns: []
Index: [,  B,  _  ,  _ A,  _ B]

In [416]:
# Conferindo colunas
df_pl.dtypes

document                   object
name                       object
job                        object
jobArea                    object
jobType                    object
phoneNumber                object
birthDate          datetime64[ns]
city                       object
state                      object
totalSpent                float64
tipo_doc                   object
filtro_name                object
filtro_name_tmp            object
filtro_name_p1             object
filtro_name2               object
dtype: object

In [417]:
# Limpa as colunas temporaraias do dataset
df_pl.drop(['filtro_name', 'filtro_name_tmp', 'filtro_name_p1', 'filtro_name2'], axis=1, inplace= True)

In [418]:
df_pl.dtypes

document               object
name                   object
job                    object
jobArea                object
jobType                object
phoneNumber            object
birthDate      datetime64[ns]
city                   object
state                  object
totalSpent            float64
tipo_doc               object
dtype: object

In [419]:
df_pl.head(2)

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc
0,76684148787,Charlleny Braga,Oficial Criativo Dinâmico,Configuração,Estrategista,(62) 4216-9799,1972-05-20,Município de Iara,GO,913.80,PF
1,85704855733,Newton Saraiva,Administrador Comunicações Internacional,Prestação de contas,Facilitador,Aplicações,1982-10-06,Município de Neide do Sul,RR,57.26,PF

In [420]:
df_pl.shape

(1000000, 11)

# Agregação dos dados

#### 1 - Quais são as 5 PF que mais gastaram (totalSpent)?
      R: Segue a resposta abaixo:
      CPF	        Valor
      78155376770	1973.11
      57913684291	1889.39
      08174237704	1870.75
      70795760671	1857.11
      31307158277	1854.80

In [421]:
#Filtra os dados somente por PF e grava em um novo dataframe
df_pl_2 = df_pl[(  df_pl['tipo_doc']  =='PF')]
df_pl_2

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc
0,76684148787,Charlleny Braga,Oficial Criativo Dinâmico,Configuração,Estrategista,(62) 4216-9799,1972-05-20,Município de Iara,GO,913.80,PF
1,85704855733,Newton Saraiva,Administrador Comunicações Internacional,Prestação de contas,Facilitador,Aplicações,1982-10-06,Município de Neide do Sul,RR,57.26,PF
5,77145788233,Sávio Albuquerque,Estrategista Branding Interno,Resposta,Planejador,+55 (06) 0512-5291,1983-06-18,Município de Balmes,SE,769.26,PF
6,75752983045,Everaldo Saraiva Filho,Técnico Táticas Produtos,Marketing,Diretor,(33) 78784-4156,1980-10-27,Nova Olga do Sul,MG,575.10,PF
7,88363035521,Martina Moreira,Associado Contas Legado,Marketing,Designer,+55 (30) 1195-8461,1978-08-09,Reis de Nossa Senhora,BA,381.15,PF
...,...,...,...,...,...,...,...,...,...,...,...
999993,22756200603,Cíntia,Administrador Grupo Internacional,Mercados,Representante,(24) 6082-7393,1971-05-07,Vila Susana do Descoberto,RO,393.61,PF
999994,51988920922,Ivaldo Reis,Orquestrador Divisão Regional,Mercados,Técnico,+55 (23) 2395-2235,1979-03-31,NaN,MT,297.87,PF
999995,20297054201,Aurilo Franco Neto,Agente Funcionalidade Investidor,Otimização,NaN,(54) 8742-5107,1976-04-16,Vila Attilio,RO,180.85,PF
999998,12922681661,Jurema Carvalho Filho Neto,Agente Operações Legado,Programa,Engenheiro,+55 (44) 8691-2473,1968-11-04,NaN,RN,827.67,PF
999999,97145411318,Jair Martins,Produtor Comunicações Frente,Interações,Analista,(28) 0064-5483,1988-11-27,Nova Deise,AL,803.81,PF

In [422]:
#Efetua a soma agrupando por document
df_pl_grp_pf = pd.DataFrame(df_pl_2.groupby(['document'])['totalSpent'].sum())

In [423]:
df_pl_grp_pf

             totalSpent
document
00000229423      757.46
00000668265      196.59
00001356402      901.16
00003036235      325.36
00003620697      502.82
...                 ...
99991168842      440.78
99991430598      155.60
99992271396      511.88
99994518100      130.37
99997206762      177.26

[749807 rows x 1 columns]

In [424]:
# Tras os 5 cpfs com maiores totais para o campo Total Spent
# Estes são os 5 cpfs com maiores gastos

df_pl_grp_pf.sort_values(by=['totalSpent'], ascending=False).head(5)

             totalSpent
document
78155376770     1973.11
57913684291     1889.39
08174237704     1870.75
70795760671     1857.11
31307158277     1854.80

##### 2 - Qual é o valor de gasto médio por estado (state)?
      R: Segue a resposta abaixo:

In [425]:
df_pl.dtypes

document               object
name                   object
job                    object
jobArea                object
jobType                object
phoneNumber            object
birthDate      datetime64[ns]
city                   object
state                  object
totalSpent            float64
tipo_doc               object
dtype: object

In [426]:
# Segue o calculo  da média por estado.
df_pl_grpes_2 = pd.DataFrame(df_pl.groupby(['state'])['totalSpent'].mean())
df_pl_grpes_2

       totalSpent
state
AC     502.478424
AL     500.515519
AM     498.770663
AP     504.259137
BA     498.774140
CE     499.300300
DF     499.107366
ES     501.631747
GO     501.292493
MA     500.435299
MG     499.532094
MS     499.509741
MT     500.264610
PA     499.230847
PB     499.200399
PE     502.405773
PI     499.076521
PR     500.644200
RJ     502.438569
RN     499.756018
RO     498.237318
RR     500.956398
RS     500.630983
SC     501.345612
SE     498.240099
SP     498.694480
TO     501.901563

#### 3 - Qual é o valor de gasto médio por jobArea?
      R: Segue a resposta abaixo:

In [427]:
df_pl_grpjob = pd.DataFrame(df_pl.groupby(['jobArea'])['totalSpent'].mean())
df_pl_grpjob

                 totalSpent
jobArea
(00) 00435-1738  219.350000
(00) 01430-7785  799.860000
(00) 01525-7613  128.480000
(00) 01837-4277  125.280000
(00) 01870-0192  340.800000
...                     ...
Resposta         499.409451
Segurança        503.234670
Soluções         501.432619
Táticas          498.413775
Usabilidade      506.597001

[50028 rows x 1 columns]

#### 4 - Qual é a PF que gastou menos (totalSpent)?
     R: Foram os CPFs 82121396624,61782608494,28876278214,12037751729 com os valores de 0.01 e 44922380850 com 0.02 ,  foram os que gastaram menos

In [428]:
# Remove os valores com zero que nao me interessa ver 
df_pl_grp_pf_2 = df_pl_grp_pf[df_pl_grp_pf['totalSpent']  != 0]

In [429]:
# Conferindo o menor valor
df_pl_grp_pf_2.min()

totalSpent    0.01
dtype: float64

In [430]:
#Listando os 5 menores valores
df_pl_grp_pf_2.sort_values(by=['totalSpent'], ascending=True).head(5)

             totalSpent
document
82121396624        0.01
61782608494        0.01
28876278214        0.01
12037751729        0.01
44922380850        0.02

In [431]:
# Conferindo os valores sem soma para estes Cpfs
df_pl[df_pl['document'].isin(['82121396624','61782608494','28876278214','12037751729','44922380850'])]

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc
65196,28876278214,Christina,Orquestrador Divisão Líder,Qualidade,Técnico,(80) 96132-1590,1982-09-30,Macedo de Nossa Senhora,GO,0.01,PF
392327,82121396624,Walcar Pereira,Executivo Garantia Distrito,Otimização,Arquiteto,+55 (03) 9698-0097,1962-10-16,Osiane do Norte,AP,0.01,PF
448089,12037751729,Vanderlene Martins,Assistente Branding Internacional,(47) 3427-8645,Designer,(09) 5993-9544,1987-07-13,Pereira do Sul,AM,0.01,PF
476990,44922380850,Izabel Braga,Planejador Métricas Cliente,Prestação de contas,NaN,+55 (92) 0543-9605,1968-10-23,Vila Loide,PI,0.02,PF
619650,61782608494,Zulamar Barros,Diretor Fatores Cliente,Qualidade,Oficial,(38) 8210-9979,1981-07-16,Vila Debora do Norte,BA,0.01,PF

#### 5 - Quantos nomes e documentos repetidos existem nesse dataset?
      R: Temos 430 nomes repetidos  por documento
         E 173.571 documentos repetidos por nomes
         Existe divergencia entre as duas contagens , mas é justificavel , pois temos como exemplo o nome Érico Xavier que possui 5 documentos diferentes associados a ele , então quando conto o nome e agrupo por documento retornara apenas 1 para cada documento e quando conto os documentos e agrupo por nome trara 5 , mas esta correto

In [445]:
# Criando dataset com a contagem de nomes por documentos PF e CNPJ
df_pl_count_doc =df_pl[['document','name']].groupby(['document']).count()

In [447]:
# Verificando dataset
df_pl_count_doc.head()

                name
document
00000229423        1
00000315842849     1
00000416348025     1
00000463865561     1
00000668265        1

In [448]:
df_pl_count_doc.max()

name    2
dtype: int64

In [449]:
#Listando os 5 menores valores
df_pl_count_doc.sort_values(by=['name'], ascending=False).head(5)

             name
document
11814323406     2
23751867104     2
55136447540     2
15851338504     2
81265535884     2

In [450]:
df_pl_count_doc_2=df_pl_count_doc[df_pl_count_doc['name'].isin([2])]

In [451]:
#Verificando se  o menor valor é o 2 , após o ajuste
df_pl_count_doc_2.min()

name    2
dtype: int64

In [452]:
# Contando todos os nomes repetidos por documentos 
df_pl_count_doc_2.count()

name    430
dtype: int64

In [454]:
# Criando dataset com a contagem de documentos  PF e CNPJ  por nomes 
df_pl_count_doc_b =df_pl[['document','name']].groupby(['name']).count()
df_pl_count_doc_b

                        document
name
                               5
 .  Carvalho                   1
 .  Nogueira                   1
 . Abdias Carvalho             1
 . Abdias Costa Neto           1
...                          ...
Érico Silva Neto               3
Érico Souza                    4
Érico Souza Filho              1
Érico Souza Neto Filho         1
Érico Xavier                   5

[372252 rows x 1 columns]

In [455]:
# Pegando apenas os que tiverem a contagem maior que 1 que são os repetidos
df_pl_count_doc_b_2 = df_pl_count_doc_b[df_pl_count_doc_b['document'] > 1]

In [456]:
#Verificando se  o menor valor é o 2 , após o ajuste
df_pl_count_doc_b_2.min()

document    2
dtype: int64

In [457]:
# Contando todos os documentos repetidos por nome
df_pl_count_doc_b_2.count()

document    173571
dtype: int64

In [458]:
df_pl_count_doc_b_2

                    document
name
                           5
 . Albina Reis             2
 . Amarai Reis             2
 . Anailza Silva           2
 . Angelica Reis           2
...                      ...
Érico Saraiva Neto         2
Érico Silva                4
Érico Silva Neto           3
Érico Souza                4
Érico Xavier               5

[173571 rows x 1 columns]

In [459]:
df_pl[df_pl['name']=='Érico Xavier']

,document,name,job,jobArea,jobType,phoneNumber,birthDate,city,state,totalSpent,tipo_doc
387525,18916214599,Érico Xavier,Facilitador Fatores Cliente,Táticas,Consultor,(30) 18908-3306,1981-06-11,NaN,GO,812.10,PF
458770,26608122753840,Érico Xavier,Facilitador Mercados Produtos,Integração,Arquiteto,+55 (09) 5458-0541,1983-10-12,NaN,AM,75.73,PJ
830977,47304644121430,Érico Xavier,Analista Segurança Produtos,Marca,Consultor,(78) 36021-6258,1987-06-15,Fabiane de Nossa Senhora,MG,257.78,PJ
897572,54623511430,Érico Xavier,Arquiteto Aplicações Direto,Programa,Associado,+55 (83) 7155-0549,1982-07-26,NaN,TO,482.84,PF
998300,56314984050,Érico Xavier,Executivo Táticas Líder,Resposta,Diretor,(63) 69007-6804,1985-03-31,Macedo do Norte,RJ,469.07,PF

#### 6 - Quantas linhas existem nesse dataset?
       R: Existe  1 Milhão de linhas neste dataset

In [460]:
df_pl['document'].count()

1000000

In [461]:
len(df_pl.index)

1000000

#### Particionamento de dados tratados com as regras descritas em DATA QUALITY

##### 1- Particionar em arquivos PARQUET por estado (state)
      R:Segue Resposta Abaixo

In [465]:
# Carrega modulos adicionais
import pyarrow as pa
import pyarrow.parquet as pq

In [476]:
type(df_pl)

pandas.core.frame.DataFrame

In [479]:
# Converte do pandas para o formato pyarrow
table = pa.Table.from_pandas(df)

In [480]:
# Exportando para o formato parquet particionado por state
pq.write_to_dataset(
    table,
    root_path='output.parquet_state',
    partition_cols=['state'],
                    )

####  2 - Particionar em arquivos CSV por ano/mes/dia de nascimento (birthDate)

In [504]:
df_pl[['birthDate']].head()

   birthDate
0 1972-05-20
1 1982-06-10
2 1968-05-16
3 1981-04-17
4 1980-04-07

In [521]:
df_pl['birthDate_txt'] =  df_pl['birthDate'].astype(str)

In [535]:
lista_birth = df_pl['birthDate_txt'].tolist()

In [537]:
lista_birth = sorted(lista_birth)

In [538]:
lista_birth

['1962-01-02',
 '1962-01-02',
 '1962-01-02',
 '1962-01-02',
 '1962-01-02',
 '1962-01-02',
 '1962-01-02',
 '1962-01-02',
 '1962-01-02',
 '1962-01-02',
 '1962-01-02',
 '1962-01-02',
 '1962-01-02',
 '1962-01-02',
 '1962-01-02',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-03',
 '1962-01-04',
 '1962-01-04',
 '1962-01-04',
 '1962-01-04',
 '1962-01-04',
 '1962-01-04',
 '1962-01-04',
 '1962-01-04',
 '1962-01-04',
 '1962-01-04',
 '1962-01-04',
 '1962-01-04',
 '1962-01-04',
 '1962-01-05',
 '1962-01-05',
 '1962-01-05',
 '1962-01-05',
 '1962-01-05',
 '1962-01-05',
 '1962-01-05',
 '1962-01-05',
 '1962-01-05',
 '1962-01-05',
 '1962-01-05',
 '1962-01-05',
 '1962-01-05',
 '1962-01-05',
 '1962-01-05',
 '1962-01-05',
 '1962-01-05',
 '1962-01-06',
 '1962-01-06',
 '1962-01-06',
 '1962-01-06',
 '1962-01-06',
 '1962-01-06',
 '1962-01-06',
 '1962-01-06',
 '1962-01-06',
 '1962-01-06',
 '1962-01-06',
 '1962-01-06',
 '1962-01-06',
 '1962-01-06',
 '1962-01-07',
 '1962-01-07',
 '1962-01-07',
 '1962-01-07',
 '1962-01-07',
 '1962-01-07',
 '1962-01-07',
 '1962-01-07',
 '1962-01-07',
 '1962-01-07',
 '1962-01-07',
 '1962-01-07',
 '1962-01-08',
 '1962-01-08',
 '1962-01-08',
 '1962-01-08',
 '1962-01-08',
 '1962-01-08',
 '1962-01-08',
 '1962-01-08',
 '1962-01-08',
 '1962-01-08',
 '1962-01-08',
 '1962-01-08',
 '1962-01-08',
 '1962-01-08',
 '1962-01-08',
 '1962-01-08',
 '1962-01-09',
 '1962-01-09',
 '1962-01-09',
 '1962-01-09',
 '1962-01-09',
 '1962-01-09',
 '1962-01-09',
 '1962-01-09',
 '1962-01-09',
 '1962-01-09',
 '1962-01-09',
 '1962-01-09',
 '1962-01-10',
 '1962-01-10',
 '1962-01-10',
 '1962-01-10',
 '1962-01-10',
 '1962-01-10',
 '1962-01-10',
 '1962-01-10',
 '1962-01-10',
 '1962-01-10',
 '1962-01-10',
 '1962-01-10',
 '1962-01-10',
 '1962-01-10',
 '1962-01-10',
 '1962-01-10',
 '1962-01-10',
 '1962-01-10',
 '1962-01-11',
 '1962-01-11',
 '1962-01-11',
 '1962-01-11',
 '1962-01-11',
 '1962-01-11',
 '1962-01-11',
 '1962-01-11',
 '1962-01-11',
 '1962-01-11',
 '1962-01-11',
 '1962-01-11',
 '1962-01-11',
 '1962-01-11',
 '1962-01-11',
 '1962-01-12',
 '1962-01-12',
 '1962-01-12',
 '1962-01-12',
 '1962-01-12',
 '1962-01-12',
 '1962-01-12',
 '1962-01-12',
 '1962-01-12',
 '1962-01-12',
 '1962-01-12',
 '1962-01-12',
 '1962-01-12',
 '1962-01-12',
 '1962-01-12',
 '1962-01-12',
 '1962-01-12',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-01',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-02',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-03',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-04',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-05',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-06',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-07',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-08',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 '1962-02-09',
 ...]

In [539]:
for birthDate in lista_birth:
    #Chaves é um marcador recebe a varavel em format
    caminho = "output.csv_birth/{}_export.csv".format(birthDate)
    df_pl[df_pl['birthDate']==birthDate].to_csv(caminho)